@page
@model SRRAMOils.Pages.VendorModel
@{
}
<div class="container mt-5">
    <h2 class="mb-4">Add Vendor</h2>
    <form method="post">
        <div class="mb-3">
            <label for="vendorName" class="mb-2">Vendor Name</label>
            <input type="text" class="form-control" id="vendorName" name="vendorName" placeholder="Enter vendor name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>